<li class="list-group-item">
  <div class="result-field">
    <a href="/search/results/detail?id={{_id}}" style="text-decoration: none;"><h4 class="meal-name">{{name}}</h4></a>
    <div class="row restaurant-cost">
      <div class="col-xs-9">
        <h5 class="restaurant">@ {{restaurant}}</h5>
      </div>
      <div class="col-xs-3">
        <h5 class="cost pull-right">0.3 mi</h5>
      </div>
    </div>
    <div class="extra-info row">
      <p class="col-xs-6"><span class="glyphicon glyphicon-time"></span> {{waitTime}} minutes</p>
      <div class="col-xs-6">
        <p class="pull-right">$ {{cost}}</p>
      </div>
    </div>
    <div class="btn-group btn-group-justified more-info">
      <a class="btn btn-default" href="/search/results/detail?id={{_id}}">Details</a>
      <a class="btn btn-default" href="/search/results/detail/map?id={{_id}}">Map</a>
    </div>
  </div>
</li>
