<div class="row">
	<div class="col-xs-12 search-field">
		<div class="form-group">
			<div>
				<label for="{{id}}-field"><h4>{{name}}</h4></label>
				{{#equal name "Dietary Goal"}}
				<a href="" id="help-goal" data-toggle="modal" data-target="#modal">What's this?</a>
				<!-- Begin Modal -->
				<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="input" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="input">Help: Dietary Goal</h4>
				      </div>
				      <div class="modal-body">
				        The "Dietary Goal" feature helps you choose and set your own personal nutritional goal from our five custom preset list: <i>Lose Weight, Gain Lean Muscle, Gain Weight, Maintain Weight, and None</i>. Choose a nutritional goal that best fits your personal needs and future goals. Choose wisely! </br></br>
				        <a href="/help">Please tell me more...</a>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-info" data-dismiss="modal">Got it!</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- End Modal -->
				{{/equal}}
			</div>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon {{icon}}" aria-hidden="true"></span></span>
				{{#equal name "Current Location"}}

					<form>
						<select class="form-control" id="{{id}}-current">
							{{#each options}}
						 		<option> {{this}}</option>
							{{/each}}
						</select>						
					</form> 
				{{/equal}}
				{{#equal name "Available Time to Eat"}}
					<form>
						<select class="form-control" id="{{id}}-current">
							{{#each options}}
						   		<option> {{this}}</option>
							{{/each}}
						</select>						
					</form> 
				{{/equal}}
				{{#equal name "Dietary Goal"}}
					{{#if parent.user}}
						<form>
						<select class="form-control" id="{{id}}-current">					
						    <!-- {{#each options}}
						    	{{#equal parent.user.goal this}}
						    		<option selected="selected"> {{parent.user.goal}}</option>	
						    	{{else}}
						   			<option> {{this}}</option>
						   		{{/equal}}
						   		{{/each}}
						    -->
							{{#equal parent.user.goal "Lose Weight"}}
							  	<option selected="selected"> {{parent.user.goal}}</option>	
							{{else}}
							   	<option> Lose Weight</option>	
							{{/equal}}
							{{#equal parent.user.goal "Gain Lean Muscle"}}
							  	<option selected="selected"> {{parent.user.goal}}</option>	
							{{else}}
							  	<option> Gain Lean Muscle</option>	
							{{/equal}}
							{{#equal parent.user.goal "Gain Weight"}}
							   	<option selected="selected"> {{parent.user.goal}}</option>	
							{{else}}
							   	<option> Gain Weight</option>	
							{{/equal}}
							{{#equal parent.user.goal "Maintain Weight"}}
							   	<option selected="selected"> {{parent.user.goal}}</option>	
							{{else}}
							   	<option> Maintain Weight</option>	
							{{/equal}}
							{{#equal parent.user.goal "None"}}
							   	<option selected="selected"> {{parent.user.goal}}</option>	
							{{else}}
							   	<option> None </option>	
							{{/equal}}
						    
						</select>						
					</form> 
					{{else}}
						<form>
							<select class="form-control" id="{{id}}-current">
							{{#each options}}
								<option> {{this}}</option>
							{{/each}}
							</select>						
						</form> 
					{{/if}}
				{{/equal}}
				{{#equal name "Dietary Restrictions"}}
					{{#if parent.user}}
						<form>
							<select class="form-control" id="{{id}}-current">
								<!-- {{#each options}}
									{{#equal parent.user.goal this}}
										<option selected="selected"> {{parent.user.goal}}</option>
									{{else}}
										<option> {{this}}</option>
									{{/equal}}						    	
							    {{/each}} -->
							    {{#equal parent.user.goal "Vegetarian"}}
							  	<option selected="selected"> {{parent.user.goal}}</option>	
								{{else}}
								   	<option> Vegetarian</option>	
								{{/equal}}
								{{#equal parent.user.goal "Vegan"}}
								  	<option selected="selected"> {{parent.user.goal}}</option>	
								{{else}}
								  	<option> Vegan</option>	
								{{/equal}}
								{{#equal parent.user.goal "Pescetarian"}}
								   	<option selected="selected"> {{parent.user.goal}}</option>	
								{{else}}
								   	<option> Pescetarian</option>	
								{{/equal}}
								{{#equal parent.user.goal "Gluten Free"}}
								   	<option selected="selected"> {{parent.user.goal}}</option>	
								{{else}}
								   	<option> Gluten Free</option>	
								{{/equal}}
								{{#equal parent.user.goal "None"}}
								   	<option selected="selected"> {{parent.user.goal}}</option>	
								{{else}}
								   	<option> None </option>	
								{{/equal}}
							</select>						
						</form> 
					{{else}}
						<form>
							<select class="form-control" id="{{id}}-current">
							    {{#each options}}
							   		<option> {{this}}</option>
							    {{/each}}
							</select>						
						</form> 
					{{/if}}
				{{/equal}}
			</div>
		</div>
	</div>
	<div class="collapse" id="{{id}}">
		<div class="btn-group-vertical col-xs-12">
			{{#each options}}
			<button type="button" class="btn btn-default search-option">{{this}}</button>
			{{/each}}
		</div>
	</div>
</div>